.carrousel {
    height: 415px;
    position: relative;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        
    }
    &__btnGauche, &__btnDroit {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background-color: transparent;
        border: none;
    }
    &__btnGauche {
        left: 15px;
    }
    &__btnDroit {
        right: 15px;
    }
    &__nbr {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .carrousel {
        height: 255px;
        &__img {
            border-radius: 10px;
        }
        &__nbr {
            display: none;
        }
    }
}


