.erreur {
    color: #FF6060;
    text-align: center;
}

.title {
    font-size: 288px;
    margin: 140px;
}

.text {
    font-size: 36px;
}

.link {
    font-size: 18px;
    margin: 140px;
    color: #FF6060;
}